@layer components {
  .blog-post h1 {
    @apply mt-5;
    @apply text-2xl;
    @apply mb-3;
    @apply font-bold;
    @apply border-b;
    @apply pb-1;
    font-family: "Roboto";
  }

  .blog-post h2 {
    @apply mt-5;
    @apply text-xl;
    @apply mb-3;
    @apply font-medium;
    @apply border-b;
    @apply pb-1;
    font-family: "Roboto";
  }

  .blog-post h3 {
    @apply mt-5;
    @apply text-lg;
    @apply font-semibold;
  }

  .blog-post a {
    @apply text-blue-500;
    @apply font-medium;
  }

  .blog-post a:hover {
    @apply underline;
  }

  .blog-post p {
    @apply mb-5;
  }

  .blog-post blockquote p {
    @apply mb-0;
  }

  .blog-post blockquote {
    @apply p-2;
    @apply bg-gray-100;
    @apply text-gray-700;
    @apply italic;
    @apply text-lg;
    @apply mb-5;
    @apply border-l-4;
    @apply border-gray-300;
  }

  .blog-post ul {
    @apply mb-5;
    @apply list-disc;
  }

  .blog-post ol {
    @apply mb-5;
    @apply list-decimal;
  }

  .blog-post li {
    @apply ml-5;
    padding-inline-start: 1ch;
  }

  .blog-post hr {
    @apply mt-7;
    @apply mb-7;
  }

  .blog-post table {
    @apply w-full;
    @apply mb-5;
    @apply table-auto;
  }

  .blog-post th {
    @apply bg-gray-700;
    @apply p-1;
    @apply border-2;
    @apply border-white;
    @apply text-gray-100;
    @apply text-sm;
    @apply font-bold;
  }

  .blog-post td {
    @apply p-2;
    @apply border-2;
    @apply border-white;
    @apply bg-gray-100;
  }
}
